FRONTEND_PORT=3200
NEXT_PUBLIC_BACKEND_PORT=7999
NEXT_PUBLIC_DECISION_BRAIN_API_URL=https://multi-agents-control-plane-bck.onrender.com
NEXT_PUBLIC_API_URL=https://multi-agents-control-plane-bck.onrender.com
NEXT_PUBLIC_CONTROL_PLANE_URL=https://multi-agents-control-plane-bck.onrender.com
